<div class="text-layout">
    <h1>{{ nombre | uppercase }}</h1>
    <h1>{{ valor | number }}</h1>
    <h1>{{ obj | json }}</h1>
</div>

<button pButton class="p-button-help" label="Cambiar nombre" icon="pi pi-user-edit" iconPos="right" (click)="mostrarNombre()"></button>

<p-card [header]="nombre | titlecase"
        subheader="Subtitulo">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, odio consequuntur earum voluptates exercitationem ducimus accusantium repudiandae minus ipsum distinctio saepe omnis nemo aspernatur labore corporis culpa illo architecto laborum.
</p-card>
